<%= turbo_frame_tag :post do %>
  <p style="color: green"><%= notice %></p>

  <%= render partial: 'posts/post_for_show', locals: { post: @post } %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path, data: { turbo_frame: '_self'} %>

    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>